@import "../assets/main"


.headline
  font-size: 44px
  margin: 0

.header
  padding-top: 20px
  padding-left: 60px
  padding-bottom: 20px
  background-color: $yellowAccent
  margin-bottom: 60px

.section
  width: 1000px
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  margin-top: 40px

.endSection
  width: 1000px
  left: 0
  right: 0
  margin: 100px auto
  text-align: center
  .sectionText
    margin-top: 60px
    width: 500px
    margin-left: auto
    margin-right: auto

.sectionText
  width: 400px
  margin-right: 200px
  line-height: 132.02%

.sectionContent
  display: flex

.sectionImage
  max-width: 400px
  height: auto
  max-height: 350px
  fill: #424242

.sectionImageGithub
  left: 0
  right: 0
  margin-right: auto
  margin-left: auto
  max-width: 100px
  height: auto


